body {
	background: #f1cfd9;
	font-family: "Emilys Candy", sans-serif;
	overflow-x: hidden;
}

.text-desc h2 {
	color: #ea1c2c;
	font-weight: 100;
	font-size: 2.5rem;
}

.text-desc p {
	color: #ff5c8d;
	font-size: 1.125rem;
	font-weight: 100;
	line-height: 2;
	font-family: "Nunito", sans-serif;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: #fff;
}

#mainNavbar .nav-link:hover {
	color: #ea1c2c;
}

#mainNavbar .navbar-brand {
	color: #ea1c2c;
	font-size: 1.5rem;
}

#heading-group span {
	color: #ea1c2c;
}

#heading-group h1 {
	font-weight: 100;
	font-size: 3rem;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

.navbar.scrolled {
	background: rgba(222, 192, 222, 0.7);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	transition: background 0.5s ease-in-out;
}

@media (max-width: 1200px) {
	#heading-group h1 {
		font-size: 2.5rem;
	}
}
